/* forms
----------------------------------------------------------------------------- */
.form-container {
  width: 100%;
  max-width: 680px;
  padding-bottom: 10rem;
  margin: 0 auto;

  h2,
  h3 {
    color: $brand-blue;
  }
}

.form-inner {
  padding: 24px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $brand-pink;
}

.frequency,
.amount {
  width: 100%;
  margin-bottom: 3rem;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  font-family: $font-primary;
  color: $white;

  @include mq($large-mobile) {
  //  flex-direction: row;
  }

  li {
    width: 100%;
    min-width: 160px;
    padding: 1rem;
    border: 3px solid $fade-pink;
    border-radius: 10px;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: rgba(240, 189, 214, 1) -5px 5px;
    transform: translateX(5px);

    &.selected-white-bg {
      border: 3px solid rgba(174, 16, 89, 1);
      box-shadow: rgba(174, 16, 89, 1) -5px 5px;
      background: $white;
      color: rgba(174, 16, 89, 1);
    }

    @include mq($large-mobile) {
    //  margin: 0 1rem 0 0;
    }
  }
}

.your-donation-25 {
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid $brand-blue;
  box-shadow: $brand-blue -5px 5px;
  margin-bottom: 3rem;
  background: $white;
  transform: translateX(5px);

  p {
    font-family: helvetica, arial, 'sans-serif';
    font-size: .875rem;
    line-height: 1.45;
    color: $brand-blue;

    strong {
      margin-bottom: .875rem;
      display: block;
      font-family: $font-primary;
      font-size: 1.25rem;
      letter-spacing: .5px;
    }
  }

  &.no-data {
    display: none;
  }
}

button {
  width: 100%;
//  max-width: 200px;
  height: 90px;
  padding: .5rem;
  border: 4px solid $white;
  border-radius: 10px;
  font-family: $font-primary;
  font-size: 2rem;
  letter-spacing: .5px;
  text-align: center;
  color: $white;
  transform: translateX(5px);

  a,
  a:link,
  a:visited,
  a:active {
    color: rgba(174, 16, 89, 1);
    text-decoration: none;
  }

  @include mq($large-mobile) {
  //  margin: 0 1rem 0 0;
  }
}

.selected-white {
  border: 3px solid $white;
  box-shadow: rgba(255, 255, 255, 1) -5px 5px;
  color: $white;
}

.selected-white-bg {
  border: 3px solid rgba(174, 16, 89, 1);
  box-shadow: rgba(174, 16, 89, 1) -5px 5px;
  background: $white;
  color: rgba(174, 16, 89, 1);
}

#set-amount {
  width: 50%;
  height: 48px;
  padding: 8px 0 0 1rem;
  border: 3px solid $fade-pink;
  border-radius: 10px;
//  box-shadow: rgba(240, 189, 214, 1) -5px 5px;
  margin-bottom: 3rem;
  background: $brand-pink;
  transform: translateX(5px);

  &::placeholder {
    font-family: $font-primary;
    font-size: 1.5rem;
    font-weight: 700;
    color: $white;
  }
}

.set-amount {
  margin-bottom: 1rem;
  font-family: $font-primary;
  font-size: 28px;
  letter-spacing: .5px;
  color: $white;
  transform: translateX(3px);
}

// opener form fields and controls
.opener,
.confirmation {
  font-family: $font-primary;
  background: $brand-grey;

  // type
  h1,
  h2,
  h3 {
    padding: 0;
    margin-bottom: 1rem;
    text-align: left;
    background: none;
  }

  h1 {
    padding-top: 2rem;
    margin: .5rem 0;
    font-size: 52px;
  }

  h2 {
    margin: 1rem 0;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  label,
  input {
    display: block;
  }

  label {
    margin: 1rem 0 .5rem 0;
    font-family: sans-serif;
    letter-spacing: .5px;
  }

  input {
    width: 100%;
  //  max-width: 480px;
    height: 56px;
    border: none;
    background: $white
  }

  input[type="radio"] {
    height: 40px;
  }

  input[type="checkbox"] {
    width: 56px;
  }

  .submit {
    height: 120px;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 3rem;
    text-transform: uppercase;
    color: $white;
    background: $brand-pink;
  }

  a {
    text-decoration: none;
  }

  #amount-select {
    width: 100%;
    height: 56px;
    padding: .5rem;
    font-family: $font-primary;
    font-size: 2.5rem;
    color: $brand-blue;
  }

  .payment-method {
    border: none;
  }

  .payment-choices {
    display: flex;
    align-items: center;
  }

  .gift-aid  {
    p {
      width: 100%;
    //  max-width: 480px;
      margin-bottom: 2rem;
      font-family: sans-serif;
      font-size: .75rem;
    }
  }
}

// confirmation
.confirmation {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;

  h1,
  h2,
  p {
    color: $brand-blue;
    text-align: center;
  }

  h1 {
    font-size: 52px;
  }

  p {
    padding-bottom: 3rem;
  }

  .tick {
    width: 250px;
    height: 250px;
    border: 3px solid $brand-green;
    border-radius: 50%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $brand-green;
    font-size: 10rem;
    color: $white;
  }

  .stay-in-touch {
    padding-left: 2rem;
    display: flex;

    input[type="checkbox"] {
      margin-right: 1rem;
    }

    label {
      font-weight: 600;
      color: $brand-blue;
    }

    p {
      text-align: left;
    }
  }
}

.screen-one {
  h2,
  h3 {
    color: $white;
  }
}

// layout
fieldset {
  border: none;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;

  .confirmation & {
    padding-top: 3rem;
    border-top: 5px solid $brand-blue;
    margin: 0;
  }
}
