/*reset
----------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

article,
aside,
code,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

button {
  display: inline-flex;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
