/* variables
----------------------------------------------------------------------------- */
$brand-pink: #e61576;
$brand-blue: #1b195a;
$brand-grey: #f0f0f0;
$brand-green: #5cb85c;

$fade-pink: #f0bdd6;

$white: #fff;
$black: #000;

$font-primary: 'bebas-neue-by-fontfabric';

$large-mobile: 620px;
